{% extends "base.html" %}

{% block content %}
<div id="menu_bar">
	<a class="ui-state-default ui-corner-all" href="/about" title="about"><span class="ui-icon ui-icon-help"></span></a>
	<a class="ui-state-default ui-corner-all" href="#" refresh title="refresh"><span class="ui-icon ui-icon-refresh"></span></a>
	<a class="ui-state-default ui-corner-all" href="#" contact title="contact"><span class="ui-icon ui-icon-mail-closed"></span></a>
	<a class="ui-state-default ui-corner-all" href="#" totop title="top"><span class="ui-icon ui-icon-circle-arrow-n"></span></a>
</div>
<div id="container">

</div>
{% endblock %}

{% block endjs %}
<script defer src="js/main.js"></script>
{% endblock %}
